body {
    background-image: linear-gradient(to top,#000005 , #002010);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    user-select: none;
    animation: bg 6 ease infinite;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

@keyframes bg {
    0% {
        background-image: linear-gradient(to top,#050011 , #003215);
    }
    50% {
        background-image: linear-gradient(to top,#003215 , #050011);
    }
    100% {
        background-image: linear-gradient(to top,#050011 , #003215);
    }
}

.mainCube {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 9.5%;
    top: 35%;
    text-align: center;
    border: 5px solid rgb(0, 255, 100);
    background-color: black;
    box-shadow: 0 0 25px rgb(0, 255, 100);
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
}

.cubeParticle {
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(0, 255, 100);
    background-color: black;
    box-shadow: 0 0 5px rgb(0, 255, 100);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -1;
}

.mainCube:hover {

    cursor:pointer;
}

.cubeVis {
    width: 135px;
    height: 135px;
    position: absolute;
    left: 45%;
    top: 40%;
    text-align: center;
    transform: translate(-45%, -35%);
    user-select: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.version {
    position: absolute;
    left: 10%;
    top: 1.5%;
    font-size: 150%;
    color: white;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0px 0px 5px white;
    transform: translate(-50%, -50%);
}

.clickHim {
    position: absolute;
    left: 20%;
    font-size: 200%;
    color: white;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0px 0px 5px white;
    transform: translate(-50%, -50%);
    animation: clickHimAnim 5s ease infinite;
}

.scoreTop {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 10%;
    font-size: 350%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 255, 100);
    text-shadow: 0 0 25px rgb(0, 255, 100);
    transform: translate(-50%, -50%);
    animation: scoreMove 6s ease infinite;
}

@keyframes scoreMove {
    0% {
        left: 47.5%;
    }
    50% {
        left: 52.5%;
    }
    100% {
        left: 47.5%;
    }
}

.scoreBottom {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 16%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 0.5px rgb(0, 255, 100);
    text-shadow: 0 0 15px rgb(0, 255, 100);
    transform: translate(-50%, -50%);
}

@keyframes clickHimAnim {
    0% {
        top: 50%;
        transform: rotate(-2deg);
    }
    50% {
        top: 45%;
        transform: rotate(4deg);
    }
    100% {
        top: 50%;
        transform: rotate(-2deg);
    }
    
}

.upDel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    z-index: -1;
    background-color: black;
    transform: translate(-50%, -50%);
}

.up1 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 5%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(50, 0, 0);
    box-shadow: 0 0 15px rgb(255, 0, 0);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up1:hover {
    background-color: rgb(150, 50, 50);
    box-shadow: 0 0 15px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0);
    cursor: pointer;
}

.up1D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up1C {
    position: absolute;
    width: 100%;
    left: 7.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up2 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 15%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(255, 150, 0);
    background-color: rgb(50, 25, 0);
    box-shadow: 0 0 15px rgb(255, 150, 0);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up2:hover {
    background-color: rgb(150, 100, 50);
    box-shadow: 0 0 15px rgb(255, 150, 0), 0 0 25px rgb(255, 150, 0);
    cursor: pointer;
}

.up2D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up2C {
    position: absolute;
    width: 100%;
    left: 17.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.jah {
    width: 125px;
    height: 125x;
    position: absolute;
    left: 30%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(255, 150, 0);
    border: 2px solid rgb(255, 150, 0);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.jahParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(255, 150, 0);
    background-color: black;
    box-shadow: 0 0 3px rgb(255, 150, 0);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -1;
}

.up3 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 25%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(255, 255, 0);
    background-color: rgb(50, 50, 0);
    box-shadow: 0 0 15px rgb(255, 255, 0);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up3:hover {  
    background-color: rgb(150, 150, 50);
    box-shadow: 0 0 15px rgb(255, 255, 0), 0 0 25px rgb(255, 255, 0);
    cursor: pointer;
}

.up3D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up3C {
    position: absolute;
    width: 100%;
    left: 27.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.scottish {
    width: 125px;
    height: 125x;
    position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(255, 255, 0);
    background-color: rgb(80,80,0);
    border: 2px solid rgb(255, 255, 0);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.scottishParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(255, 255, 0);
    background-color: black;
    box-shadow: 0 0 3px rgb(255, 255, 0);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up4 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 35%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(50, 255, 0);
    background-color: rgb(0, 50, 0);
    box-shadow: 0 0 15px rgb(50, 255, 0);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up4:hover {
    background-color: rgb(75, 150, 50);
    box-shadow: 0 0 15px rgb(50, 255, 0), 0 0 25px rgb(50, 255, 0);
    cursor: pointer;
}

.up4D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up4C {
    position: absolute;
    width: 100%;
    left: 37.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up5 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 45%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(0, 255, 255);
    background-color: rgb(0, 50, 50);
    box-shadow: 0 0 15px rgb(0, 255, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up5:hover {
    background-color: rgb(50, 150, 150);
    box-shadow: 0 0 15px rgb(0, 255, 255), 0 0 25px rgb(0, 255, 255);
    cursor: pointer;
}
.up5D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up5C {
    position: absolute;
    width: 100%;
    left: 47.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up6 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 55%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(0, 120, 255);
    background-color: rgb(0, 25, 50);
    box-shadow: 0 0 15px rgb(0, 120, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up6:hover {
    background-color: rgb(50, 100, 150);
    box-shadow: 0 0 15px rgb(0, 120, 255), 0 0 25px rgb(0, 120, 255);
    cursor: pointer;
}
.up6D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up6C {
    position: absolute;
    width: 100%;
    left: 57.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.ohed {
    width: 110px;
    height: 115px;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(0, 120, 255);
    background-color: rgb(5,15,50);
    border: 2px solid rgb(0, 120, 255);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.ohedParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(0, 120, 255);
    background-color: black;
    box-shadow: 0 0 3px rgb(0, 120, 255);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up7 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 65%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(0, 0, 255);
    background-color: rgb(0, 0, 50);
    box-shadow: 0 0 15px rgb(0, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up7:hover {
    background-color: rgb(50, 50, 150);
    box-shadow: 0 0 15px rgb(0, 0, 255), 0 0 25px rgb(0, 0, 255);
    cursor: pointer;
}
.up7D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up7C {
    position: absolute;
    width: 100%;
    left: 67.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.creepy {
    width: 115px;
    height: 110x;
    padding: 5px;
    position: absolute;
    left: 60%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(0, 0, 255);
    background-color: rgb(0, 0, 70);
    border: 2px solid rgb(0, 0, 255);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.creepyParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(0, 0, 255);
    background-color: black;
    box-shadow: 0 0 3px rgb(0, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up8 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 75%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(150, 0, 255);
    background-color: rgb(25, 0, 50);
    box-shadow: 0 0 15px rgb(150, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up8:hover {
    background-color: rgb(100, 50, 150);
    box-shadow: 0 0 15px rgb(150, 0, 255), 0 0 25px rgb(150, 0, 255);
    cursor: pointer;
}
.up8D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up8C {
    position: absolute;
    width: 100%;
    left: 77.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.garf {
    width: 110px;
    height: 110x;
    padding: 5px;
    position: absolute;
    left: 70%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(150, 0, 255);
    background-color: rgb(15,0,35);
    border: 2px solid rgb(150, 0, 255);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.garfParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(150, 0, 255);
    background-color: black;
    box-shadow: 0 0 3px rgb(150, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up9 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 85%;
    bottom: 25%;
    text-align: center;
    border: 5px solid rgb(255, 0, 255);
    background-color: rgb(50, 0, 50);
    box-shadow: 0 0 15px rgb(255, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up9:hover {
    background-color: rgb(150, 50, 150);
    box-shadow: 0 0 15px rgb(255, 0, 255), 0 0 25px rgb(255, 0, 255);
    cursor: pointer;
}
.up9D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up9C {
    position: absolute;
    width: 100%;
    left: 87.5%;
    bottom: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.glow {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 15%;
    top: 45%;
    text-align: center;
    border: 5px solid rgb(0, 255, 100);
    background-color: black;
    transform: translate(-50%, -50%);
    user-select: none;
    border-radius: 50%;
    z-index: 0;
    animation: glowanim 3s linear infinite;
}

@keyframes glowanim {
    0% {
        box-shadow: 0 0 1000px rgb(255,0,0);
    }
    33% {
        box-shadow: 0 0 1000px rgb(0,255,0);
    }
    66% {
        box-shadow: 0 0 1000px rgb(0,0,255);
    }
    100% {
        box-shadow: 0 0 1000px rgb(255,0,0);
    }
}

.up10 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 10%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(255, 100, 100);
    background-color: rgb(50, 20, 20);
    box-shadow: 0 0 15px rgb(255, 100, 100);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up10:hover {
    background-color: rgb(150, 75, 75);
    box-shadow: 0 0 15px rgb(255, 100, 100), 0 0 25px rgb(255, 100, 100);
    cursor: pointer;
}
.up10D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up10C {
    position: absolute;
    width: 100%;
    left: 12.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.hmm {
    width: 110px;
    height: 110px;
    padding: 5px;
    position: absolute;
    left: 80%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(255, 100, 100);
    background-color: rgb(80,40,40);
    border: 2px solid rgb(255, 100, 100);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.hmmParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(255, 100, 100);
    background-color: black;
    box-shadow: 0 0 3px rgb(255, 100, 100);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up11 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 20%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(255, 175, 100);
    background-color: rgb(50, 40, 25);
    box-shadow: 0 0 15px rgb(255, 175, 100);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up11:hover {
    background-color: rgb(150, 110, 75);
    box-shadow: 0 0 15px rgb(255, 175, 100), 0 0 25px rgb(255, 175, 100);
    cursor: pointer;
}
.up11D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up11C {
    position: absolute;
    width: 100%;
    left: 22.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.up12 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 30%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(255, 255, 100);
    background-color: rgb(50, 50, 25);
    box-shadow: 0 0 15px rgb(255, 255, 100);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up12:hover {
    background-color: rgb(150, 150, 75);
    box-shadow: 0 0 15px rgb(255, 255, 100), 0 0 25px rgb(255, 255, 100);
    cursor: pointer;
}
.up12D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up12C {
    position: absolute;
    width: 100%;
    left: 32.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.birby {
    width: 110px;
    height: 110px;
    padding: 5px;
    position: absolute;
    left: 90%;
    top: 30%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(255, 255, 100);
    background-image: radial-gradient(#ffee00,#443a00,#000000);
    border: 2px solid rgb(255, 255, 100);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.birbyParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(255, 255, 100);
    background-color: black;
    box-shadow: 0 0 3px rgb(255, 255, 100);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up13 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 40%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(100, 255, 100);
    background-color: rgb(25, 50, 25);
    box-shadow: 0 0 15px rgb(100, 255, 100);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up13:hover {
    background-color: rgb(75, 150, 75);
    box-shadow: 0 0 15px rgb(100, 255, 100), 0 0 25px rgb(100, 255, 100);
    cursor: pointer;
}
.up13D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up13C {
    position: absolute;
    width: 100%;
    left: 42.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.diamond {
    width: 120px;
    height: 120px;
    padding: 0px;
    position: absolute;
    left: 30%;
    top: 50%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(100, 255, 100);
    background-image: radial-gradient(#00f7ff,#002030,#000000);
    border: 2px solid rgb(100, 255, 100);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.diamondParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(100, 255, 100);
    background-color: black;
    box-shadow: 0 0 3px rgb(100, 255, 100);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up14 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(100, 255, 255);
    background-color: rgb(25, 50, 50);
    box-shadow: 0 0 15px rgb(100, 255, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up14:hover {
    background-color: rgb(75, 150, 150);
    box-shadow: 0 0 15px rgb(100, 255, 255), 0 0 25px rgb(100, 255, 255);
    cursor: pointer;
}
.up14D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up14C {
    position: absolute;
    width: 100%;
    left: 52.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.drip {
    width: 120px;
    height: 120px;
    padding: 0px;
    position: absolute;
    left: 40%;
    top: 50%;
    text-align: center;
    transform: translate(-45%, -35%);
    box-shadow: 0 0 50px rgb(100, 255, 255);
    background-color: rgb(0,0,0);
    border: 2px solid rgb(100, 255, 255);
    border-radius: 50%;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}
.dripParticle {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border: .5px solid rgb(100,255,255);
    background-color: black;
    box-shadow: 0 0 3px rgb(100,255,255);
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
    user-select: none;
    z-index: -3;
}

.up15 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 60%;
    bottom: 8.5%;
    text-align: center;
    border: 5px solid rgb(100, 150, 255);
    background-color: rgb(25, 35, 50);
    box-shadow: 0 0 15px rgb(100, 150, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
}
.up15:hover {
    background-color: rgb(75, 105, 150);
    box-shadow: 0 0 15px rgb(100, 150, 255), 0 0 25px rgb(100, 150, 255);
    cursor: pointer;
}
.up15D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.up15C {
    position: absolute;
    width: 100%;
    left: 62.5%;
    bottom: 1%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.upS1 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    position: absolute;
    left: 92.5%;
    top: 2.5%;
    text-align: center;
    border: 5px solid rgb(255, 0, 255);
    background-color: rgb(50, 0, 50);
    box-shadow: 0 0 15px rgb(255, 0, 255);
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
    opacity: 0;
}
.upS1:hover {
    background-color: rgb(150, 50, 150);
    box-shadow: 0 0 15px rgb(255, 0, 255), 0 0 25px rgb(255, 0, 255);
    opacity: 1;
    cursor: pointer;
}
.upS1D {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    font-size: 170%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}
.upS1C {
    position: absolute;
    width: 100%;
    left: 95%;
    top: 17.5%;
    font-size: 150%;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 5px white;
    transform: translate(-50%, -50%);
}

.harry {
    position: absolute;
    text-align: center;
    width: 75px;
    height: 100px;
    left: 85%;
    top: 37.5%;
    animation: harryanim 2s linear infinite;
    border: 4px solid white;
    box-shadow: 0 0 15px white;
}
.harry:hover {
    cursor:pointer;
}
.winston {
    position: absolute;
    text-align: center;
    width: 75px;
    height: 100px;
    left: 95%;
    top: 37.5%;
    animation: winstonanim 2s linear infinite;
    border: 4px solid white;
    box-shadow: 0 0 15px white;
}
.winston:hover {
    cursor:pointer;
}

@keyframes harryanim {
    0% {
        left: 0%;
        z-index: 2;
        width: 75px;
        height: 100px;
    }
    25% {
        left: 12.5%;
        z-index: 2;
        width: 90px;
        height: 120px;
    }
    50% {
        left: 25%;
        z-index: 1;
        width: 75px;
        height: 100px;
    }
    75% {
        left: 12.5%;
        z-index: -1;
        width: 55px;
        height: 75px;
    }
    100% {
        left: 0%;
        z-index: 0;
        width: 75px;
        height: 100px;
    }
}

@keyframes winstonanim {
    0% {
        left: 25%;
        z-index: 0;
        width: 75px;
        height: 100px;
    }
    25% {
        left: 12.5%;
        z-index: -1;
        width: 55px;
        height: 75px;
    }
    50% {
        left: 0%;
        z-index: 1;
        width: 75px;
        height: 100px;
    }
    75% {
        left: 12.5%;
        z-index: 2;
        width: 90px;
        height: 120px;
    }
    100% {
        left: 25%;
        z-index: 1;
        width: 75px;
        height: 100px;
    }
}